/* --------- Global style */

body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 2rem;
}

.logo {
    height: 40px;
    padding-right: 5px;
}

#question {
    display: block;
    padding: 2rem;
    background-color: lightsalmon;
    margin-bottom: 1rem;
}

/* --------- Game layout */

.game-area {
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85%;
    height: 68vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.btn {
    width: 80%;
    height: 3rem;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1.2px;
    color: #E6ECF0;
    background-color: black;
    margin-bottom: 1rem;
}